<form [formGroup]="form" (submit)="onSubmit($event)">
  <mat-vertical-stepper [linear]="true" #stepper formArrayName="formArray">
    <!-- Step -->
    <mat-step
      [formGroupName]="i"
      [stepControl]="form.get('formArray').get([i])"
      *ngFor="let step of steps; let i = index"
    >
      <ng-template matStepLabel>
        {{ step.label }}
      </ng-template>

      <!-- Form Controls -->
      <ng-container
        *ngFor="let field of fields"
        appDynamicField
        [step]="step"
        [field]="field"
        [group]="form.get('formArray').get([i])"
      >
      </ng-container>
    </mat-step>

    <!-- Fixed last Step -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button (click)="stepper.reset()" type="button">
          Reset
        </button>
        <button mat-button type="submit">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
